<style>
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffb84d;
}
.similar_products{
  height:300px;
  width:230px;
  float:left;
  margin:20px;
  text-align:center;
}

.similar_product_text_div{
  width:100%;  
  text-align:center;
  text-decoration:none;
  padding-top:5px;
}

a:hover{
  text-decoration:none;
}
.similar_product_img_div{
   width:100%;  
}
  
.similar_product_img{
  width:100%;
  height:270px;
}

.tag_main{
  height: 24px;
  float: left;
  border-radius: 33px;
  background: #ffb84d;
  margin-left: 25px;
  margin-top:15px;
  padding: 10px 20px 27px 20px;
}

.artist_description_main{
  text-align:center;
  font-weight: bolder;
  padding-bottom:5em;
}

.artist_description_main i{
  color:#f7b02e;  
}
#product_description_bar li:hover{
	cursor:pointer;
}  
</style>
<div class="detail-product-tab style-2">
  <div>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav" id="product_description_bar">
        <li class="active" id="product_specification"><a>PRODUCT SPECIFI</a></li>
        <li id="product_review"><a>PRODUCT REVIEW</a></li>
        <li id="similar_product"><a>SIMILAR DESIGN PRODUCT</a></li>
        <li id="artist_description"><a>ARTIST DESCRIPTION</a></li>
        <li id="product_tags"><a>PRODUCT TAGS</a></li>
      </ul>
    </div>
    </nav>
    <div id="product_description_content" class="container-fluid" style="padding-bottom:60px;">
      
    </div>
</div>

{% if settings.product_tab_description %}
        {{ product.content }}
{% endif %}
  
<div id="product_review_content" hidden>
  <h4>Product Review</h4>
  {% if settings.product_tab_review %}
      <div role="tabpanel" class="tab-pane" id="tab_review">
        <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title }}' data-id='{{ product.id }}'>{{ product.metafields.judgeme.widget }}</div>
      </div>
  {% else %}
    No Reviews Found.
  {% endif %}
</div>
  
<!--
<div id="customized_product_content" hidden>
  Want a customized picture on this phone's case <a href="#">click here.</a>
</div> -->
  
<script>
  $(document).ready(function(){
     $("#product_description_content").html($("#product_specification_content").html());
     $("#customized_product_div").html($("#customized_product_content").html()); 
    
     $("#product_description_bar li").click(function(){
       	 
         $("#product_description_bar li.active").removeClass();
         $(this).addClass("active");
         $("#product_description_content").html("");
         var content_div='#'+$(this).attr('id')+'_content';
         $("#product_description_content").html($(content_div).html());
     });
  });
</script>
  
 
  
<script>
  $(".similar_products").filter(function(){
        return $(this).find('img[src="Image%20Link"]').length == 1;
    }).hide();
</script>

