<div id="reorder_popup" class="reorder_popup" style="display:none;" >
    <a class="re_popup_account_close_topbar" onclick="reorderFunctionClosePopup();"></a>
    <div id="re_wrap">
        <div class="re_popup_products">
            <p class="re_popup_title"><span class="reorder_mobilehide">Summary of </span> Order <span id="re_insert_orderno"></span> | <span id="re_insert_totalprice"></span></p>
            <span id="re_insert_products"></span>
        </div>
        <div class="re_popup_options">
            <span id="re_popup_viewdetails"></span>
            <span id="reorder_button" data-reclass="btn button" data-retext="Re-Order & Checkout"></span>
        </div>
        <a class="re_popup_account_close" onclick="reorderFunctionClosePopup();">X</a>
    </div>
</div>