<div id="col-main" class="page-404 text-center">

  <h1>{{ 'general.404.title' | t }}</h1>
  <h4>{{ 'general.404.subtitle' | t }}</h4>
  <p>{{ 'general.404.subtext' | t }}</p>
  
  <a href="/">Back to Home page</a>
  
  

</div>